{% extends "layout.html" %}
{% from "analytics/_macros.html" import render_matomo_widget %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <!-- authenticated user -->
    {% if current_user.is_authenticated %}
        <div class="row">
            <div class="sixteen wide column">
            {% include "_sites_picker.html" %}
            {% include "_date_picker.html" %}
            </div>
        </div>
        <!-- main content -->

        {% if g.idSite is not none %}

            {% if pageAction == 'all' %}
            <div class="sixteen wide tablet two wide computer column">
                <div class="ui vertical secondary pointing fluid tabular menu">
                    <a class="item active" data-tab="referrers">
                        Referrers
                    </a>
                    <a class="item" data-tab="referrerTypes">
                        Referrer Types
                    </a>
                    <a class="item" data-tab="keywords">
                        Keywords
                    </a>
                    <a class="item" data-tab="searchEngines">
                        Search Engines
                    </a>
                    <a class="item" data-tab="websites">
                        Websites
                    </a>
                    <a class="item" data-tab="socialNetworks">
                        Social Networks
                    </a>
                </div>
            </div>
            <div class="sixteen wide tablet fourteen wide computer column">
                <div class="ui tab active" data-tab="referrers">
                {{ render_matomo_widget('widget_01', app.config['MATOMO_URL'], 'Referrers', 'Referrers', 'getAll', '&filter_limit=10', g.idSite, session['matomo_token_auth'], request_period, request_date, 100, 'auto-height', true) }}
                </div>
                <div class="ui tab" data-tab="referrerTypes">
                {{ render_matomo_widget('widget_02', app.config['MATOMO_URL'], 'Referrer Types', 'Referrers', 'getReferrerType', '&filter_limit=10', g.idSite, session['matomo_token_auth'], request_period, request_date, 100, 'auto-height', false) }}
                </div>
                <div class="ui tab" data-tab="keywords">
                {{ render_matomo_widget('widget_03', app.config['MATOMO_URL'], 'Keywords', 'Referrers', 'getKeywords', '&filter_limit=10', g.idSite, session['matomo_token_auth'], request_period, request_date, 100, 'auto-height', false) }}
                </div>
                <div class="ui tab" data-tab="searchEngines">
                {{ render_matomo_widget('widget_04', app.config['MATOMO_URL'], 'Search Engines', 'Referrers', 'getSearchEngines', '&filter_limit=10', g.idSite, session['matomo_token_auth'], request_period, request_date, 100, 'auto-height', false) }}
                </div>
                <div class="ui tab" data-tab="websites">
                {{ render_matomo_widget('widget_05', app.config['MATOMO_URL'], 'Websites', 'Referrers', 'getWebsites', '&filter_limit=10', g.idSite, session['matomo_token_auth'], request_period, request_date, 100, 'auto-height', false) }}
                </div>
                <div class="ui tab" data-tab="socialNetworks">
                {{ render_matomo_widget('widget_06', app.config['MATOMO_URL'], 'Social Networks', 'Referrers', 'getSocials', '&filter_limit=10', g.idSite, session['matomo_token_auth'], request_period, request_date, 100, 'auto-height', false) }}
                </div>
            </div>
            {% endif %}

        {% endif %}

    {% endif %}

{% endblock %}

{% block footer %}
    {% if g.idSite is not none %}
    {% include "analytics/_iframe_resize.html" %}
    {% endif %}
{% endblock %}