{% extends "layout.html" %}
{% from "analytics/_macros.html" import render_matomo_widget %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <!-- authenticated user -->
    {% if current_user.is_authenticated %}
        <div class="row">
            <div class="sixteen wide column">
            {% include "_sites_picker.html" %}
            {% include "_date_picker.html" %}
            </div>
        </div>
        <!-- main content -->

        {% if g.idSite is not none %}

            {% if pageAction == 'all' %}
            <div class="sixteen wide tablet two wide computer column">
                <div class="ui vertical secondary pointing fluid tabular menu">
                    <a class="item active" data-tab="categories">
                        Product Category Goals
                    </a>
                    <a class="item" data-tab="names">
                        Product Name
                    </a>
                    <a class="item" data-tab="skus">
                        Product SKUs
                    </a>
                </div>
            </div>
            <div class="sixteen wide tablet fourteen wide computer column">
                <div class="ui tab active" data-tab="categories">
                {{ render_matomo_widget('widget_01', app.config['MATOMO_URL'], 'Ecommerce: Product Category	Goals', 'Goals', 'getItemsCategory', '', g.idSite, session['matomo_token_auth'], request_period, request_date, 100, 'auto-height', true) }}
                </div>
                <div class="ui tab" data-tab="names">
                {{ render_matomo_widget('widget_02', app.config['MATOMO_URL'], 'Ecommerce: Product Name', 'Goals', 'getItemsName', '', g.idSite, session['matomo_token_auth'], request_period, request_date, 100, 'auto-height', false) }}
                </div>
                <div class="ui tab" data-tab="skus">
                {{ render_matomo_widget('widget_03', app.config['MATOMO_URL'], 'Ecommerce: Product SKU', 'Goals', 'getItemsSku', '', g.idSite, session['matomo_token_auth'], request_period, request_date, 100, 'auto-height', false) }}
                </div>
            </div>
            {% endif %}

        {% endif %}

    {% endif %}

{% endblock %}

{% block footer %}
    {% if g.idSite is not none %}
    {% include "analytics/_iframe_resize.html" %}
    {% endif %}
{% endblock %}
