{% extends "layout.html" %}
{% from "security/_macros.html" import render_field, render_field_with_errors, render_checkbox_field %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <!-- authenticated user -->
    {% if current_user.is_authenticated %}
            <div class="sixteen wide column">
                {% include "_sites_picker.html" %}
                <div class="ui segment">
                    <div class="ui left aligned grid">
                        <div class="left floated left aligned six wide column">
                            <h3>{{ recording.name }}</h3>
                        </div>
                        <div class="right floated right aligned six wide column">
                            <a class="ui primary button small" href="{{ url_for('analytics_session_recordings_edit', idSite=recording.idsite, idsitehsr=recording.idsitehsr) }}">
                                Edit
                            </a>
                            <a class="ui button small" href="{{ url_for('analytics_session_recordings_delete', idSite=recording.idsite, idsitehsr=recording.idsitehsr) }}">
                                Delete
                            </a>
                        </div>
                    </div>
                    <table class="ui compact cellet definition table">
                        <tbody>
                        <tr>
                            <td class="collapsing">Number of sessions</td>
                            <td>{{ recording.sample_limit }}</td>
                        </tr>
                        <tr>
                            <td class="collapsing">Sample Rate</td>
                            <td>{{ recording.sample_rate }} %</td>
                        </tr>
                        <tr>
                        <tr>
                            <td class="collapsing">Min Session Time</td>
                            <td>{{ recording.min_session_time }} seconds</td>
                        </tr>
                        <tr>
                            <td class="collapsing">Requires Activity</td>
                            <td>
                                {% if recording.requires_activity %}
                                    <i class="small green checkmark icon"></i>
                                {% else %}
                                    <i class="small grey times icon"></i>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="collapsing">Capture Keystrokes</td>
                            <td>
                                {% if recording.capture_keystrokes %}
                                    <i class="small green checkmark icon"></i>
                                {% else %}
                                    <i class="small grey times icon"></i>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="ui compact cellet definition table">
                        <tr>
                            <td class="collapsing" colspan="2">Rules</td>
                        </tr>
                        {% for item in recording.match_page_rules %}
                        <tr>
                            <td class="collapsing">{{ labels.attribute[item.attribute] }}</td>
                            <td>
                                {% if item.attribute == 'urlparam' %}
                                    <b>{{ item.value }}</b> {% if item.inverted == '1' %} not {% endif %} {{ labels.type[item.type]}} <b>{{ item.value2 }}</b>
                                {% else %}
                                    {% if item.inverted == '1' %} not {% endif %} {{ labels.type[item.type]}} <b>{{ item.value }}</b>
                                {% endif %}
                            <td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>

            </div>

    {% endif %}


{% endblock %}