{% extends "layout.html" %}
{% from "security/_macros.html" import render_field, render_field_with_errors, render_checkbox_field %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <div id="body" class="ui middle aligned center aligned grid">
        <div class="column left aligned" style="min-width:280px; max-width:40%">
			<div class="main ui center segment">
				<form class="ui form form-user" action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="post" name="reset_password_form">
					<h4 class="ui dividing header">{{ _('Reset password') }}</h4>
						{{ reset_password_form.hidden_tag() }}
						{{ render_field_with_errors(reset_password_form.password) }}
						{{ render_field_with_errors(reset_password_form.password_confirm) }}
					<button class="ui primary button" type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>

{% endblock %}